@font-face {
    font-family: HM;
    src: url("../fonts/Heaven_Matters.ttf") format("truetype");
}
@font-face {
    font-family: G;
    src: url("../fonts/gnuolane_rg.ttf") format("truetype");
}

$light: #EAE4DC;
// rgb(234,228,220)
$color-green: #b0e4a4;
$color-red: #ffada4;
$color-gray: #c7d3df;

html {
    font-size: 16px;
}

body {
    width: 100vw;
    padding: 0;
    margin: 0 auto;
    font-family: G;
    text-align: center;
    background-color: $light;
    overflow-x: hidden;
}

body.stop {
    position: fixed;
}
h1 {
    font-size: 1.6rem;
}
h1, h2 {
    display: inline-block;
    margin: 0.5em auto;
    text-align: center;
    font-weight: normal;
}
.bordered, .text h2 {
    padding: 0.1em 0.4em;
    border: 2px solid black;
}
.blackboard {
    .bordered, .text h2 {
        border: 2px solid white;
    }
}
a.bordered {
    text-decoration: none;
    background-color: white;
    color: inherit;
    margin: 1em auto;
}
.text h2 {
    text-align: center;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.2rem;
    font-weight: bold;
}
.reason_header {
    background-color: $light;
}
.text p {
    text-align: initial;
}
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(#fbfbfb, #fbfbfb, rgba(251, 251, 251, 0.95), rgba(251, 251, 251, 0.63), rgba(251, 251, 251, 0));
    z-index: 100;
}

#logo {
    height: 80px;
}

#menu_button_placeholder {
    width: 40px;
    margin: 20px;
    cursor: pointer;
}
#menu_button {
    margin: 20px;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 40px;
    height: 4px;
    background-color: #000;
    margin: 10px 0;
    transition: 0.4s;
}
.cross {
    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        -webkit-transform: rotate(45deg) translate(-10px, -10px);
        transform: rotate(45deg) translate(-10px, -10px);
    }
}

#close_button {
    float: right;
}
#social_head {
    margin-top: 20px;
    margin-right: 20px;
    img {
        height: 40px;
    }
    a.logo_mpmr {
        display: none;
    }
}

.logo_mpmr img {
    height: 80px;
}

#social_foot img {
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
    width: 70px;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding-top: 80px;
    z-index: -1;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    padding-left: 25px;
    width: 220px;
    height: 100vh;
    max-height: 460px;
    overflow: hidden;
    a {
        flex-grow: 1;
        text-decoration: none;
        color: inherit;
        text-align: left;
        font-size: 1.4em;
        white-space: nowrap;
        &:hover, .active {
            text-decoration: none;
            color: inherit;
        }
    }
    &.hidden {
        width: 0;
        padding-left: 0;
    }
}

#id-uvod {
    background-image: linear-gradient(#fbfbfb, rgba(251, 251, 251, 0)), url("../img/intro_768x768.png");
    padding-top: 87vw;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}


#motto {
    width: 100%;
    h1 {
        margin: 0.5em auto;
        width: 85%;
    }
    span {
        display: inline-block;
        margin: 0.1em;
    }
}

section {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.page {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1em 0;
}

.blackboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/blackboard_768.jpg");
    background-size: 100% auto;
    color: $light;
    position: relative;
}
svg.arrow_top {
    position: relative;
    top: -1px;
    left: 0;
    width: 100%;
    height: 7vw;
}
svg.arrow_bottom {
    position: relative;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 7vw;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    &.single_type {
        justify-content: space-around;
    }
}
.item_type {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    max-width: 280px;
    position: relative;
    transition: all 400ms;
    img {
        width: 100%;
    }
    a {
        position:absolute;
        height: 100%;
        width: 100%;
        top:0;
        left: 0;
        z-index: 1;
    }
    &:hover {
        transform: scale(1.1);
    }
}
.item_div {
    padding-bottom: 0;
    background-image: none;
}
.item_img {
    margin: 35px auto 7px auto;
}
.item_name {
    font-family: HM;
    text-align: center;
    margin: 10px auto;
}
h3.item_name {
    font-size: 1.6em;
}


.headline_group {
    margin: 2em auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h1, h2 {
        margin: 0;
    }
}
#first_pikto {
    margin: 0 20px;
}

.reason_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pikto {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto 30px auto;
    text-align: center;
}

.circs {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    p {
        width: 80%;
        margin: 0 auto;
    }
    .circ {
        display: block;
        position: relative;
        border-radius: 50%;
        width: 70%;
        max-width: 400px;
        z-index: 10;
        &#c1 {
            left: -20%;
        }

        &#c2 {
            left: 50%;
        }
    }
}

#contact {
    display: flex;
    justify-content: space-evenly;
    p {
        text-align: left;
    }
}
#modal {
    display: block;
    color: white;
    z-index: 20;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
    background-color: transparent;
    &.hidden {
        display: none;
    }
    &.shown {
        background-color: rgba(0,0,0,0.5);
        > div {
            opacity: 1;
        }
    }
    > div {
        position: relative;
        width: 100%;
        min-height: 100%;
        background-image: url("../img/blackboard_768.jpg");
        background-size: 100% auto;
        background-repeat: repeat;
        box-shadow: 0 10px 30px 20px #111;
        margin: 0 auto;
        padding-top: 80px;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
        opacity: 0;
    }
    #item_detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 3em;
        margin: 0 auto;
        img {
            margin: 10px auto;
            max-width: 300px;
        }
    }
    #nav_buttons {
        position: absolute;
        top: 120px;
        right: 20px;
        .cross > div {
            background-color: white;
        }
    }
}

#items_svg, #reasons_svg {
    position: absolute;
    top: 0;
    left: 0;
}
#items_svg {
    z-index: 0;
}
#reasons_svg {
    z-index: -10;
}

.halves {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    > div {
        width: 100%;
        &:first-child {
            margin-bottom: 3em;
        }
    }
}

#max_width {
    padding-top: 110px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
#orders_header {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    > div:first-child, > div:last-child {
        width: 40%;
    }
}
#user_mail {
    line-height: 2em;
}

form {
    textarea, select, input:not([type="checkbox"]) {
        height: 1.9em;
        padding: 0 0.5em;
        margin: 0.1em auto 0.3em auto;
        border: none;
        background: white;
        font-size: 20px;
        width: 100%;
        box-sizing: border-box;
    }
    input[type='submit'] {
        width: initial;
        padding: 0.1em 0.4em;
        border: 2px solid black;
        cursor: pointer;
        margin: 0.5em;
    }
    textarea {
        height: initial;
    }
    table {
        margin: 0 auto;
        max-width: 500px;
        td:first-child:not([colspan="2"]) {
            text-align: right;
        }
    }
}
#new_order_link {
    line-height: 3em;
    font-size: 1.4em;
}
form#new_order_form {
    width: 500px;
    margin: 0 auto;
}

label, .new_order_label {
    text-align: left;
    padding-left: 0.5em;
    margin: 0;
}

.new_order_row {
    width: 100%;
    display: flex;
    align-items: flex-end;
    > div {
        padding: 10px;
        > * {
            box-sizing: border-box;
        }
        &:first-child {
            width: 70%;
        }
        &:last-child {
            width: 30%;
        }
    }
}
.order_confirm_row {
    width: 100%;
    display: flex;
    align-items: flex-end;
    > div {
        width: 25%;
    }
}
#next_delivery {
    width: 100%;
    height: 100%;
    padding: 5px 0;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

#new_order_form_buttons {
    text-align: center;
    > div {
        text-align: center;
        display: inline-block;
        padding: 0;
        font-size: 36px;
        width: 1em;
        height: 1em;
        margin: 0.5em;
        line-height: 0.95em;
        cursor: pointer;
        -webkit-transition: background-color 500ms;
        -moz-transition: background-color 500ms;
        -ms-transition: background-color 500ms;
        -o-transition: background-color 500ms;
        transition: background-color 500ms;
        background-color: transparent;
        &#add_item:hover {
            background-color: $color-green;
        }
        &#remove_item:hover {
            background-color: $color-red;
        }
    }
}


table.overview {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0.5em;
    td, th {
        padding: 0.3em 1.2em;
        font-weight: normal;
    }
    td {
        background-color: white;
    }
    tr.history td{
        background-color: #f5f5d0;
        background-color: $color-gray;
        color: #555
    }
    tr.confirmed td {
        background-color: $color-green;
    }
    tr.rejected td{
        background-color: $color-red;
    }
    .dashed-line td {
        height: 10px !important;
        background: none;
        padding: 0;
    }
}

.base_form {
    div {
        max-width: 340px;
        margin: 0.2em auto;
        text-align: left;
        &.center {
            text-align: center;
        }
    }
}

ul.errorlist {
    margin-top: 0;
}

#legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
        display: inline-block;
    }
    .legend {
        line-height: 100%;
        display: inline-block;
        left: 0;
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 1.6em;
        height: 1.6em;
        border-radius: 2em;
        &.pending {
            background-color: white;
        }
        &.confirmed {
            background-color: $color-green;
        }
        &.refused {
            background-color: $color-red;
        }
        &.history {
            background-color: $color-gray;
        }
    }
}

@media (min-aspect-ratio: 1/1) {
    #id-uvod {
        background-image: linear-gradient(#fbfbfb, rgba(251, 251, 251, 0)), url("../img/intro_768x33.png");
        padding-top: 33vw;
    }
}
/* Small devices */
@media (min-width: 576px) {
    .page {
        width: 90%;
    }
    #motto h1 {
        width: 70%;
    }
    .reason_row {
        &.odd div:nth-child(1) {
            padding: 1%;
            width: 330px;
        }
        &.odd div:nth-child(3) {
            padding: 1%;
            padding-right: 10%;
            width: 440px;
        }
        &.even div:nth-child(1) {
            padding: 1%;
            padding-left: 10%;
            width: 440px;
        }
        &.even div:nth-child(3) {
            padding: 1%;
            width: 330px;
        }
    }
}

@media (max-width: 767px) {
    .item_div {
        background: none !important;
    }
    .from_768 {
        display: none;
    }
}

/* Medium devices */
@media (min-width: 769px) {
    #id-uvod {
        background-image: linear-gradient(#fbfbfb, rgba(251, 251, 251, 0)), url("../img/intro_1920x33.png");
        padding-top: calc(33vw - 50px);
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .to_767 {
        display: none;
    }
    html {
        font-size: 18px;
    }
    .page {
        width: 80%;
    }
    #motto h1 {
        width: 50%;
    }
    #items_page {
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;
    }
    .blackboard {
        background-image: url("../img/blackboard_1200.jpg");
    }
    .forms > div {
        width: 50%;
    }

    .item_type {
        width: 45%;
    }
    .item_img {
        display: none;
    }
    .item_div {
        padding-bottom: 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .halves {
        flex-direction: row;
        > div {
            width: 50%;
            &:first-child {
                margin-bottom: 0;
            }
        }
    }

    .circs {
        p{
            width: 48%;
        }
        .circ {
            position: absolute;
            width: 40%;
            max-width: none;
            &#c1 {
                top: -20%;
                left: -15%;
            }

            &#c2 {
                left: 75%;
                bottom: -20%;
            }
        }
    }
    .pull_down {
        margin-bottom: -5vw;
    }
}

/* Large devices */
@media (max-width: 991px) {

}
@media (min-width: 992px) {
    .to_992 {
        display: none;
    }
    html {
        font-size: 20px;
    }
    header {
        justify-content: center;
    }
    nav {
        position: static;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        padding: 0;
        background: none;
        height: 3em;
        justify-content: center;
        max-width: 600px;
        a {
            font-size: 1.1em;
            padding: 0 0.3em;
            flex-grow: 0;
            text-align: center;
        }
    }

    #logo {
        height: 110px;
    }

    #social_head {
        margin-top: 5px;
        margin-right: 5px;
        img {
            height: 80px;
        }
        a {
            display: none;
            &.logo_mpmr {
                display: inline-block;
            }
        }
    }



    #items_page {
        width: 80%;
    }
    #menu_button, menu_button_placeholder {
        display: none;
    }
    #modal {
        padding-top: 140px;
        > div {
            max-width: 800px;
            min-height: 0;
            padding-top: 0;
        }
        #nav_buttons {
            top: 20px;
        }
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    html {
        font-size: 22px;
    }
    .circs .circ {
        &#c1 {
            width: 40%;
            top: -30%;
            left: -20%;
        }
        &#c2 {
            width: 40%;
            left: 80%;
            bottom: -30%;
        }
    }
    .blackboard {
        background-image: url("../img/blackboard_1600.jpg");
    }
}