{% extends 'ffpasta/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Změna hesla{% endblock %}

{% block content %}
    <div class="base_form">
    <h1 class="bordered">Změna hesla</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        </div>
        <div>{{ form.password.errors }}{{ form.password }}</div>
        <div>
            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        </div>
        <div>{{ form.password1.errors }}{{ form.password1 }}</div>
        {% if form.non_field_errors %}
        <div>{{ form.non_field_errors }}</div>
        {% endif %}
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
        <div class="center">
            <input type="submit" value="Nastavit heslo">
        </div>
    </form>
    </div>
{% endblock %}