{% extends 'ffpasta/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Obnova hesla{% endblock %}

{% block header_right %}{% endblock %}

{% block content %}
    <h1 class="bordered">Obnova hesla</h1>
    <form method="post" id="password_form">
        {% csrf_token %}
        <div><label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label></div>{% for error in form.email.errors %}
        <div>{{ error }}</div>{% endfor %}
        <div>{{ form.email }}</div>{% for error in form.non_field_errors %}
        <div>{{ error }}</div>{% endfor %}{% if messages %}{% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</p>{% endfor %}{% endif %}
        <div><input type="submit" value="Obnovit heslo"></div>
    </form>
{% endblock %}