{% extends 'ffpasta/base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Potvrzení objednávky{% endblock %}

{% block content %}
    <h1 class="bordered">Potvrzení objednávky</h1>
    <table class="overview" style="max-width: 500px"><tbody>
        <tr>
            <td style="text-align: right; background-color: transparent">Požadované datum dodání</td>
            <td>{{ object.date_required }}</td>
        </tr>
    </tbody></table>
    <table class="overview">
        <thead>
            <tr>
                <th>položka</th>
                <th>množství</th>
                <th>jednotková cena</th>
                <th>cena celkem</th>
            </tr>
        </thead>
        <tbody>
            <tr class="dashed-line">
                <td colspan="4">
                    <svg width="100%" height="100%" viewBox="0 0 100 10" preserveAspectRatio="none">
                        <path d="M 0 5 L 100 5" fill="none" stroke="black" stroke-width=3 stroke-dasharray="2, 2"></path>
                    </svg>
                </td>
            </tr>{% for item in object.item_set.all %}
            <tr>
                <td>{{ item.product }}</td>
                <td style="text-align: right">{{ item.quantity }} {{ item.product.get_unit }}</td>
                <td style="text-align: right">{{ item.unit_price }} Kč</td>
                <td style="text-align: right">{{ item.get_price }} Kč</td>
            </tr>{% endfor %}
            <tr class="dashed-line">
                <td colspan="4">
                    <svg width="100%" height="100%" viewBox="0 0 100 10" preserveAspectRatio="none">
                        <path d="M 0 5 L 100 5" fill="none" stroke="black" stroke-width=3 stroke-dasharray="2, 2"></path>
                    </svg>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="background-color: transparent"></td>
                <td style="text-align: right">{{ object.get_total_price }} Kč</td>
            </tr>
        </tbody>
    </table>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div style="margin: 1em auto"><input type="submit" name="back_to_edit_order" value="Upravit objednávku" formnovalidate><input type="submit" value="Potvrdit a objednat"></div>
    </form>
{% endblock %}